/*----------- GLOBAL -----------*/

:root {
    /*--- COLORES ---*/
    --principal: #4DB5FF;
    --secundario: rgba(77, 181, 255, 0.4);
    --negro: #1F1F38;
    --negroSecundario: #2C2C6C;
    --blanco: #FFFFFF;
    --gris: rgba(255, 255, 255, 0.6);

    /*--- FUENTES ---*/
    --fuenteTitulos: 'Poppins', sans-serif;
    --fuenteParrafos: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem --- 10px*/
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: var(--negro);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteTitulos);
}

/* ----------- HEADER ----------- */

.header {
    width: 100%;
    height: 100vh;
}

/* ----- NAVEGACION ----- */

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.navegacion__logo {
    display: flex;
    align-items: center;
}

.navegacion__menu {
    position: relative;
}

.navegacion__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--fuenteTitulos);
}

.navegacion__icono {
    color: var(--principal);
    margin-right: .5rem;
}

.navegacion__item {
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1rem 1rem;
}

.navegacion__enlace:hover {
    color: var(--principal);
    transition: .3s;
}

.navegacion__close {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2.8rem;
    cursor: pointer;
    color: var(--negro);
    background-color: var(--principal);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.navegacion__toggle {
    color: var(--principal);
    background-color: var(--negro);
    display: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


/* ----- REDES ----- */

.redes {
    width: 4rem;
    position: absolute;
    bottom: 30%;
    left: 4.8rem;
    right: auto;
    z-index: 10;
    font-size: 2.4rem;
}

.redes__lista {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: .5s all;
}

.redes__item {
    margin: 1rem 0;
}

.redes__enlace {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: var(--secundario);
    position: relative;
    transition: all .5s;
}

.redes__enlace:hover {
    color: var(--principal);
    transform: translate(0,-.5rem)
}

/* ----- HERO ----- */

.hero {
    padding: 0 15rem;
}

.hero__contenido {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7.5rem auto;
    margin-bottom: 0;
    max-width: 100rem;
}

.hero__texto {
    margin: 0;
    font-size: 2.2rem;
    color: var(--principal);
}

.hero__nombre {
    margin: 0;
    font-size: clamp(4rem, 7vw, 7.2rem);
}

.hero__descripcion {
    margin: 0;
    font-size: clamp(4rem, 6vw, 6rem);
}

.hero__descripcion span {
    color: var(--principal);
}

.hero__parrafo {
    max-width: 50rem;
    color: var(--gris);
}

.hero__boton,
.about__boton,
.proyectos__boton {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 3rem;
    background: transparent;
    border: .2rem solid var(--principal);
    border-radius: .8rem;
    padding: 1.25rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--principal);
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.hero__boton:hover,
.about__boton:hover,
.proyectos__boton:hover {
    cursor: pointer;
    background-color: var(--principal);
    color: var(--negro);
    border-color: var(--secundario);
    transition: .5s;
}

/* ------ ABOUT ------ */

.section-about {
    padding: 0rem 15rem;
}

.about {
    max-width: 100rem;
    margin: 0 auto;
}

.about__titulo {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
    position: relative;
}

.about__info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 5px var(--secundario);
    padding: 5rem 0;
}

.about__img {
    width: 80%;
    border-radius: 25rem 25rem 0 0;
    margin: 0 auto;
    align-self: flex-start;
    background: linear-gradient(var(--secundario) 20%,var(--principal) 100%);
    filter: opacity(.4);
    transition: all 1s;
}

.about__img:hover {
    filter: none;
    transition: all 1s;
}

.about__texto {
    color: var(--gris);
    width: 80%;
    margin: 0 auto;
}

.about__subtitulo {
    font-size: 2.2rem;
    color: var(--blanco);
    margin: 0;
}

.about__parrafo {
    font-size: 1.6rem;
}

.about__boton {
    font-size: 1.3rem;
    padding: 1.25rem 1rem;
}

/* ------ SKILLS ------ */

.section-skills {
    padding: 5rem 15rem;
}

.skills {
    max-width: 100rem;
    margin: 0 auto;
}

.skills__titulo {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
}

.skills__descripcion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    max-width: 120rem;
    margin: 0 auto;
}

.skills__set {
    padding: 2.4rem;
    border-radius: 1.6rem;
    background-color: rgba(77, 181, 255, 0.1);   
}

.skills__set:hover {
    box-shadow: 0px 0px 10px var(--secundario);
}

.skills__set i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    background-color: var(--principal);
    color: var(--negro);
    border-radius: 35%;
    margin: 0 auto;
}

.skills__set h3 {
    font-size: 2.4rem;
    color: var(--principal);
    text-align: center;
    margin-top: 3.5rem;
    height: 6rem;
    width: 100%;
}

.skills__lista {
    display: grid;
    grid-template-columns: 1fr 2.8rem;
    color: var(--gris);
    text-transform: uppercase;
    align-items: center;
    font-size: 1.4rem;
}

.skills__img {
    width: 2.5rem;
}

/* ------ FORMACIÓN ------ */

.section-formacion {
    padding: 5rem 15rem;
}

.formacion {
    max-width: 100rem;
    margin: 0 auto;
}

.formacion__titulo {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
    margin-bottom: 5rem;
}

.formacion__descripcion {
    display: grid;
    grid-template-columns: 1fr;
}

.formacion__set {
    margin-left: 2rem;
    padding: 0 0 3.5rem 3rem;
    border-left: .1rem solid var(--blanco);
    position: relative;
}

.formacion__set i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--negroSecundario);
    color: var(--blanco);
    position: absolute;
    top: -1rem;
    left: -2rem;
}

.formacion__set span {
    font-size: 1.7rem;
    color: var(--blanco);
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    background: var(--negroSecundario);
}

.formacion__set h3 {
    font-size: 2rem;
    color: var(--blanco);
    padding-top: 3rem;
}

.formacion__set p {
    font-size: 1.5rem;
    color: var(--secundario);
    line-height: 2;
}

/* ------ PROYECTOS ------ */

.section-proyectos {
    padding: 5rem 15rem;
}

.proyectos {
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(77, 181, 255, 0.1);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr , 1fr;
}

.proyectos__titulo {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
    margin-bottom: 5rem;
}

.proyectos__descripcion {
    width: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.proyectos__set {
    width: calc(100% / 3);
    position: relative;
    line-height: 0;
    padding: 5rem;
}

.proyectos__img {
    opacity: 1;
    width: 100%;
    transition-delay: 0.3s;
}

.proyectos__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem;
    height: 100%;
    width: 100%;
    line-height: 1.5;
}

.proyectos__contenido::before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 7.5rem;
    right: 7.5rem;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    content: '';
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.3s;
}

.proyectos__contenido h3,
.proyectos__contenido p,
.proyectos__contenido a {
    margin: 0 0 20px;
    opacity: 0;
    transition: 0.4s;
}


.proyectos__set:hover .proyectos__img {
    opacity: 0.4;
    transition: 0.5s;
}

.proyectos__set:hover .proyectos__contenido h3,
.proyectos__set:hover .proyectos__contenido p,
.proyectos__set:hover .proyectos__contenido a {
    opacity: 1;
    transform: translate(0,-20%);
    transition: opacity 0.6s, transform 0.6s;  
    transition-delay: opacity 0.3s, transform 0,3s;
}

.proyectos__set:hover .proyectos__contenido::before {
    background: rgba(31, 31, 56, 0.8);
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 7.5rem;
    right: 7.5rem;
    transition: 0.3s;
    opacity: 1;
}

.proyectos__enlaces {
    position: absolute;
    top: 65%;
    display: flex;
    gap: 1rem;
}

.proyectos__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    column-gap: 15px;
}

.proyectos__item {
    background-color: var(--secundario);
    padding: 15px;
    border-radius: 50% 50%;
    width: auto;
    height: 15px;
    width: 15px;
    box-shadow: 0 0 5px var(--secundario);
}

.proyectos__item:hover {
    cursor: pointer;
}

.activo {
    background-color: var(--principal);
}

/* ------ CONTACTO ------ */

.section-contacto {
    width: 100%;
    padding: 5rem 15rem;
    background-color: var(--negroSecundario);
}

.contacto__titulo {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: var(--blanco);
}

.contacto {
    width: 100%;
    max-width: 820px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}

.contacto__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.3rem 2.2rem;
}

.contacto__info i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto__set {
    font-size: 1.4rem;
    width: 100%;
    background-color: var(--secundario);
    margin: 1rem 1rem;
    color: var(--blanco);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.contacto__set p,
.contacto__set h4,
.contacto__set i {
    margin: .5rem;
}

.contacto__formulario {
    padding: 2.3rem 2.2rem;
}

.contacto__formulario legend {
    color: var(--blanco);
    margin: 0 auto;
    text-transform: uppercase;
}

.contacto__campo {
    position: relative;
    margin: 2rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid var(--principal);
    background: none;
    padding: 2rem 1.6rem;
    color: var(--principal);
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 1.5rem 1.6rem;
    min-height: 150px;
    border-radius: 20px;
    resize: none;
}

.contacto__campo label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: var(--principal);
    pointer-events: none;
    z-index: 1000;
    transition: 0.4s;
}
  
.contacto__campo.textarea label {
    top: 1rem;
    transform: translateY(0);
}

  .contacto__campo.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.4rem;
    background-color: var(--negroSecundario);
}

.btn {
    background-color: var(--principal);
    color: var(--negro);
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
    width: 30%;
    border: .2rem solid var(--negro);
}

.btn:hover {
    background-color: transparent;
    color: var(--principal);
    border: .2rem solid var(--principal);
    transition: .4s;
    cursor: pointer;
}

/* ------ FOOTER ------ */

.section-footer {
    padding: 0 15rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--principal);
}

.footer p {
    margin-bottom: 0;
    font-size: 1.6rem;
    text-align: center;
}

.footer__lista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item {
    margin: 0 1rem;
}

.footer__item i {
    color: var(--secundario);
    transition: all .5s;
}

.footer__item i:hover {
    color: var(--principal);
    transform: translate(0,-.5rem)
}

  

  
/* ------ MEDIA QUERIES ------ */

@media (max-width: 1080px) {

    .navegacion {
        padding: 0 2.5rem;
    }

    .hero {
        padding: 0 10rem;
    }

    .redes {
        left: 2.8rem;
        right: auto;
    }

    .section-about {
        padding: 5rem 10rem;
    }

    .section-skills {
        padding: 5rem 7rem;
    }

    .skills__descripcion {
        padding: 1rem;
    }

    .skills__set {
        padding: 2.4rem 2rem;
    }

    .section-formacion {
        padding: 5rem 10rem;
    }

    .section-proyectos {
        padding: 5rem 10rem;
    }

    .proyectos__contenido {
        font-size: 1.5rem; 
        padding: 8rem; 
    }

    .proyectos__set:hover .proyectos__contenido::before {
        top: 12%;
        bottom: 12%;
        left: 3.5rem;
        right: 3.5rem;  
    }


    .proyectos__set {
        padding: 3.5rem;
    }

    .proyectos__enlaces {
        top: 68%;
    }

    .proyectos__boton {
        font-size: 1.2rem;
        padding: 1rem 0.5rem;
    }

    .section-contacto {
        padding: 5rem 10rem;
    }

    .section-footer {
        padding: 0rem 10rem;
    }

}

@media (max-width: 768px) {

    .header {
        padding-top: 1rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-top: 4rem;
        padding: 0;
    }

    .navegacion__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        border: .2rem solid var(--principal);
    }

    .navegacion__menu {
        display: block;
        position: fixed;
        width: 75%;
        height: 100%;
        top: 0;
        right: -100%;
        text-align: center;
        transition: .4s;
        padding: 0;
        z-index: 100;
        background-color: var(--negroSecundario);
    }

    .redes {
        display: none;
    }
    
    .hero {
        padding: 0 5rem;
    }

    .hero__contenido {
        margin-top: 12.5rem;
    }

    .section-about {
        padding: 5rem 5rem;
    }

    .about__info {
        display: block;
        width: 100%;
    }

    .about__img {
        display: block;
        min-width: 25rem;
        width: 40%;
        margin: 0 auto 5rem;
    }

    .hero__boton {
        margin-top: 3rem;
    }

    .skills__descripcion {
        grid-template-columns: 1fr;
    }

    .section-formacion {
        padding: 5rem 5rem;
    }

    .section-proyectos {
        padding: 5rem 5rem;
    }

    .proyectos__contenido {
        font-size: 1.3rem;
        padding: 5rem;
    }

    .proyectos__enlaces {
        top: 70%;
    }
    
    .proyectos__boton {
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem;
    }

    .section-contacto {
        padding: 5rem 5rem;
    }

    .contacto {
        grid-template-columns: 1fr;
    }

    .section-footer {
        padding: 0rem 5rem;
    }

}

@media (max-width: 480px) {

    .hero {
        padding: 0 2.5rem;
    }

    .hero__contenido {
        margin-top: 10rem;
    }

    .hero__parrafo {
        font-size: 1.6rem;
    }

    .hero__boton {
        display: block;
        margin: 3rem auto;
    }

    .section-about {
        padding: 5rem 2.5rem;
    }
    
    .section-skills {
        padding: 5rem 3.5rem;
    }

    .proyectos {
        border-radius: 2rem;
    }

    .proyectos__set {
        padding: 2rem;
    }

    .proyectos__contenido p {
        display: none;
    }

    .proyectos__enlaces {
        top: 65%;
    }

    .proyectos__item {
        padding: 1rem;
    }

    .btn {
        width: 100%;
    }

}

/* ----- UTILIDADES ----- */

.show {
    right: 0;
}

.show-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    filter: blur(5px);
    opacity: .1;
    box-shadow: none;
    transition: all .5s;
}