:root {
    /** COLORES **/
    --Principal: #FFFF44;
    --Secundario: #0000F4;
    --Negro: #000000;
    --Blanco: #FFFFFF;
    --gris: #4F4F4F;

    /** FUENTES **/
    --fuenteTitulos: 'Dosis', sans-serif;
    --fuenteParrafos: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem --- 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--Negro);
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteTitulos);
}

/* HEADER */

.header {
    background-image: url(../img/bg-principal.png);
    background-size: cover;
    height: 100vh;
    max-width: 1980px;
    width: 100%;
}

.header__texto {

}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.logo-nombre {
    font-size: 3rem;
    margin: 1rem;
}

.navegacion,
.navegacion-items {
    font-family: var(--fuenteTitulos);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion-enlace {
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.titulo {
    font-family: var(--fuenteParrafos);
    font-weight: normal;
}

.texto-bold {
    font-weight: bold;
    text-transform: capitalize;
}