:root {
    /** COLORES **/
    --Principal: #29D882;
    --Secundario: #0000F4;
    --Negro: #171C23;
    --Blanco: #FFFFFF;
    --gris: #4F4F4F;

    /** FUENTES **/
    --fuenteTitulos: 'Dosis', sans-serif;
    --fuenteParrafos: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem --- 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.8rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--Blanco);
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteTitulos);
}

h1 {
    font-size: 4.8rem;
}

/*----------- HEADER -----------*/

.header {
    background: linear-gradient(to right, #171c23 60%, #29D882 100%);
    min-height: 100vh;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.boton {
    font-family: var(--fuenteTitulos);
    font-weight: bold;
    color: var(--Negro);
    background-color: var(--Principal);
    padding: 1.5rem;
    border-radius: 1rem;
    border: .2rem solid #21272F;
}

.boton:hover {
    cursor: pointer;
    background-color: var(--Negro);
    color: #29D882;
    border-color: var(--Principal);
    transition: .3s;
}